.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix{ display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix{ height: 1%;}
.clearfix {display: block}


li.liveryGroup ul {
	margin-left : 20px;
}

li.liveryGroup h3.liveryCount {
	margin-right  : 20px;
	min-width     : 30px;
	text-align    : right;
	font-weight   : normal;
}

li.liveryGroup a.link3D {
	margin-right  : 20px;
	min-width     : 20px;
	font-weight   : normal;
	color		  : #ff0000;
	display       : inline-block;
}

li.liveryGroup a.link3D:hover {
	font-weight   : bold;
}

li.liveryGroup h3 {
	margin-top    : 0px;
	margin-bottom : 0px;
	font-size     : 12pt;
	display       : inline-block;
}

li.liveryGroup a.link3DDisabled {
	margin-right   : 20px;
	min-width      : 20px;
	pointer-events : none;
	display        : inline-block;
}

ul li.livery > div {
	max-width : 800px;
	height : 254px;
	border : 2px solid black;
    padding-left: 0px;
    display : run-in;
}

li.livery > div > img {
	float : left;
	border-right : 2px solid black;
    display : run-in;
}

li.livery > div > div {
	float : left;
	padding : 20px;
    display : run-in;
}

li.livery > div > div > p {
    display : block;
    word-break: break-all;
    white-space: normal;
}

li.livery a {

	background-color: #585858;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
	background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
	background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
	background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
	background-image: -o-linear-gradient(top, #585858, #3d3d3d);
	background-image: linear-gradient(top, #585858, #3d3d3d);

    color: #ffffff;
	text-decoration : none;
    cursor: pointer;
    height: 1.5em;
    line-height: 1.5em;
    padding: 4px 10px;
	height       : 30px;
	font-family  : Arial,Helvetica,sans-serif;
	font-size    : 14px;
	font-weight  : 700;
	border-width : 2px;
	border-color : #ffffff;
	border-style : outset;
	border-radius: 7px;
}

li.livery a:hover {

	background : #276194;

    color: #ffffff;
	text-decoration : none;
    cursor: pointer;
    height: 1.5em;
    line-height: 1.5em;
    padding: 4px 10px;
}

li.livery:after {
	clear : left;
}

div.metaData {
	display : none !important;
}

section#3D {
	display : none;
}

.hide-no-js {
	display : none !important;
}

@media screen and (max-width : 780px) {

	ul li.livery > div {
		width : 354px;
		height : auto;
	}

	li.liveryGroup ul {
		margin-left : 0px;
	}

	li.liveryGroup .liveryCount {
		display : none;
	}

	li.liveryGroup a.link3D {
		display : none;
	}

	li.liveryGroup a.link3DDisabled {
		display : none;
	}

	li.livery > div > img {
		border-right : none;
		border-bottom : 2px solid black;
	}


	li.livery > div > div {
		clear : left;
		float : left;
		padding : 20px;
	}

	li.livery:after {
		clear : left;
	}
}

@media screen and (max-width : 390px) {

	li.liveryGroup h3 {
		font-size     : 10pt;
	}

	ul li.livery > div {
		width : 283px;
	}

	li.livery > div > img {
		width  : 279px;
		height : 201px;
	}
}


