
div#fixedButtons {
	margin-top   : 10px;
	width        : 1376px;
	margin-left  : auto;
	margin-right : auto;
}

div#slidesButtons {
	width        : 210px;
	margin-left  : auto;
	margin-right : auto;
}

div#buttons button {
	margin-left  : auto;
	margin-right : auto;
}

section#thumbnails {
	margin-top   : 5px;
	margin-left  : auto;
	margin-right : auto;
	width        : 1376px;
}

div.thumbnail {
	float      : left;
	margin     : 5px;
	padding    : 14px;
	background : #444444;
	min-height : 280px;
}

div.thumbnail img {
	margin     : 0px;
	padding    : 0px;
	max-width  : 300px;
 	text-align : center;
	border     : 1px solid black;
}

div.thumbnail p {
	margin     : 0px;
	padding    : 3px 0px 0px 0px;
	max-width  : 300px;
 	text-align : center;
 	color      : #dddddd;
}

section#thumbnails div.thumbnail:hover {
	background : #777777;
 	color      : #000000;
}

img#slideshow {
	width        : 60%;
	margin-left  : 20%;
	margin-right : 20%;
	border       : 2px solid #444444;
}

div#image1 {
	position : absolute;
 	text-align : center;
}

div#image2 {
	position : absolute;
 	text-align : center;
}

@media screen and (max-width : 1391px) {

	div#fixedButtons {
		width        : 1032px;
	}

	section#thumbnails {
		width        : 1032px;
	}

}

@media screen and (max-width : 1047px) {

	div#fixedButtons {
		width        : 688px;
	}

	section#thumbnails {
		width        : 688px;
	}

}

@media screen and (max-width : 704px) {

	div#fixedButtons {
		width        : 344px;
	}

	section#thumbnails {
		width        : 344px;
	}

	div.thumbnail {
		float      : left;
		margin     : 0px;
		padding    : 5px;
		background : #444444;
		border     : 1px solid black;
	}
}
