#noJS {
  margin-left : 40px;
  margin-top  : 20px;
}

div#buttons {
	margin       : 10px auto;
	width        : 210px;
}

button#thumbsBtn {
	width         : 90px;
	margin-left   : 4px;
	margin-right  : 4px;
	padding-left  : 4px;
	padding-right : 4px;
}

button#slidesBtn {
	width         : 90px;
	margin-left   : 4px;
	margin-right  : 4px;
	padding-left  : 4px;
	padding-right : 4px;
}

section#thumbnailContainer {
	margin-top   : 5px;
	margin-left  : auto;
	margin-right : auto;
	width        : 1352px;
}

div.thumbnail {
	float      : left;
	margin     : 5px;
	padding    : 14px;
	background : #444444;
	min-height : 210px;
}

div.thumbnail img {
	margin     : 0px;
	padding    : 0px;
	max-width  : 300px;
 	text-align : center;
	border     : 1px solid black;
}

div.thumbnail p {
	margin     : 0px;
	padding    : 3px 0px 0px 0px;
	max-width  : 300px;
 	text-align : center;
 	color      : #dddddd;
}

@media screen and (min-width : 1048px) {
	div.thumbnail:hover {
		background : #777777;
		color      : #000000;
	}
}

img#slideshow {
	width        : 60%;
	margin-left  : 20%;
	margin-right : 20%;
	border       : 2px solid #444444;
}

div#image1 {
	position   : absolute;
 	text-align : center;
}

div#image2 {
	position   : absolute;
 	text-align : center;
}

#slideshowContainer {
	margin-top   : 5px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	display : none;
}

.captionOrange, .captionBlack
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange
{
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack
{
    font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
    color: #ffffff;
    text-decoration: none;
}
a.captionOrange:hover
{
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}
.bricon
{
    background: url(../img/browser-icons.png);
}

.hide-no-js {
	display : none !important;
}

@media screen and (max-width : 1391px) {

	div#fixedButtons {
		width        : 1032px;
	}

	section#thumbnailContainer {
		width        : 1032px;
	}

}

@media screen and (max-width : 1047px) {

	div#fixedButtons {
		width        : 688px;
	}

	section#thumbnailContainer {
		width        : 688px;
	}

}

@media screen and (max-width : 704px) {

	div#fixedButtons {
		width        : 344px;
	}

	section#thumbnailContainer {
		width        : 344px;
	}

	div.thumbnail {
		float      : left;
		margin     : 0px;
		padding    : 5px;
		background : #444444;
		border     : 1px solid black;
	}
}
